In [1]:
import pandas as pd
#from sqlalchemy import create_engine
import string
from io import StringIO
import numpy as np
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import psycopg2

In [2]:
csv_file = "open-beer-database.csv"
ob_df = pd.read_csv(csv_file)
ob_df.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Scottish Ale,1495.0,347.0,1.0,15.0,5.8,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Scotch Ale,British Ale,Carlyle Brewing,215 East State Street,Rockford,Illinois,United States,"42.2689, -89.0907",NaN
1,Het Kapittel Pater,1509.0,301.0,-1.0,-1.0,0.0,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Brouwerij Van Eecke,Douvieweg 2,Watou,West-Vlaanderen,Belgium,"50.8612, 2.6615",NaN
2,Export Premium,1516.0,785.0,-1.0,-1.0,5.4,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Licher Privatbrauerei,In den Hardtberggrten,Lich,Hessen,Germany,"50.5208, 8.8166",NaN
3,Bee Sting Honey Ale,1527.0,604.0,3.0,26.0,5.9,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,American-Style Pale Ale,North American Ale,Great Divide Brewing,2201 Arapahoe Street,Denver,Colorado,United States,"39.7539, -104.989",http://www.greatdivide.com/
4,PranQster Belgian Ale,1540.0,919.0,-1.0,-1.0,7.6,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,North Coast Brewing Company,455 North Main Street,Fort Bragg,California,United States,"39.4466, -123.806",http://www.northcoastbrewing.com/home.htm

In [3]:
# unique values with drop_duplicates
df = ob_df.drop_duplicates(subset=['Name', 'brewery_id', 'Style' ]).dropna(subset=['brewery_id','id'])
df

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Scottish Ale,1495.0,347.0,1.0,15.0,5.8,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Scotch Ale,British Ale,Carlyle Brewing,215 East State Street,Rockford,Illinois,United States,"42.2689, -89.0907",NaN
1,Het Kapittel Pater,1509.0,301.0,-1.0,-1.0,0.0,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Brouwerij Van Eecke,Douvieweg 2,Watou,West-Vlaanderen,Belgium,"50.8612, 2.6615",NaN
2,Export Premium,1516.0,785.0,-1.0,-1.0,5.4,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Licher Privatbrauerei,In den Hardtberggrten,Lich,Hessen,Germany,"50.5208, 8.8166",NaN
3,Bee Sting Honey Ale,1527.0,604.0,3.0,26.0,5.9,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,American-Style Pale Ale,North American Ale,Great Divide Brewing,2201 Arapahoe Street,Denver,Colorado,United States,"39.7539, -104.989",http://www.greatdivide.com/
4,PranQster Belgian Ale,1540.0,919.0,-1.0,-1.0,7.6,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,North Coast Brewing Company,455 North Main Street,Fort Bragg,California,United States,"39.4466, -123.806",http://www.northcoastbrewing.com/home.htm
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5968,McCafferty's Ale,4528.0,920.0,2.0,22.0,0.0,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Irish-Style Red Ale,Irish Ale,North Country Brewery,141 South Main Street,Slippery Rock,Pennsylvania,United States,"41.0638, -80.0556",http://www.northcountrybrewing.com
5969,Boltwood Bock,4561.0,35.0,7.0,90.0,5.7,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Traditional German-Style Bock,German Lager,Amherst Brewing Company,24 North Pleasant Street,Amherst,Massachusetts,United States,"42.3763, -72.5199",http://www.amherstbrewing.com/
5970,Bad Penny,4572.0,113.0,3.0,38.0,5.5,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,American-Style Brown Ale,North American Ale,Big Boss Brewing Company,1249-A Wicker Drive,Raleigh,North Carolina,United States,"35.8104, -78.6179",http://www.bigbossbrewing.com
5971,Saranac Golden Pilsner,4605.0,512.0,7.0,77.0,5.1,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,German-Style Pilsener,German Lager,F.X. Matt Brewing,811 Edward Street,Utica,New York,United States,"43.1045, -75.2452",http://www.saranac.com
5972,Saranac Pumpkin Ale,4607.0,512.0,11.0,123.0,5.4,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Pumpkin Beer,Other Style,F.X. Matt Brewing,811 Edward Street,Utica,New York,United States,"43.1045, -75.2452",http://www.saranac.com

In [4]:
Beers_location_df = ob_df[['Name', 'Brewer', 'brewery_id', 'id','Address', 'City', 'State', 'Country']].copy()
Beers_location_df.head()

,Name,Brewer,brewery_id,id,Address,City,State,Country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States

In [5]:
Beers_location_df.rename(columns={'Name':'name', 'Brewer':'brewery', 'Address':'address', 'City':'city', 'State':'state','Country':'country'}, inplace=True)

In [6]:
Beers_location_df[Beers_location_df['id'].isnull()].dropna(subset=['id'], inplace=True)

C:\Users\alana\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [7]:
Beers_location_df['id'] = pd.to_numeric(Beers_location_df['id'], errors='coerce')

In [8]:
Beers_location_df[Beers_location_df['id'].isnull()]

     name brewery  brewery_id  id address city state country
1909  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
1994  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
2176  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
2685  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
2708  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
2823  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
2909  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3004  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3006  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3029  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3030  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3033  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3135  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3294  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3939  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
3951  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
4000  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
4596  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5322  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5365  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5510  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5761  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5859  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5915  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN
5934  NaN     NaN         NaN NaN     NaN  NaN   NaN     NaN

In [9]:
Beers_location_df.dropna(subset=['id'], inplace=True)

In [10]:
type(Beers_location_df['id'][0])

numpy.float64

In [11]:
Beers_location_df.to_csv('bbb_clean.csv',index=False)

In [12]:
Beers_location_df

,name,brewery,brewery_id,id,address,city,state,country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States
...,...,...,...,...,...,...,...,...
5968,McCafferty's Ale,North Country Brewery,920.0,4528.0,141 South Main Street,Slippery Rock,Pennsylvania,United States
5969,Boltwood Bock,Amherst Brewing Company,35.0,4561.0,24 North Pleasant Street,Amherst,Massachusetts,United States
5970,Bad Penny,Big Boss Brewing Company,113.0,4572.0,1249-A Wicker Drive,Raleigh,North Carolina,United States
5971,Saranac Golden Pilsner,F.X. Matt Brewing,512.0,4605.0,811 Edward Street,Utica,New York,United States
5972,Saranac Pumpkin Ale,F.X. Matt Brewing,512.0,4607.0,811 Edward Street,Utica,New York,United States

In [14]:
csv_file = "bbb_clean.csv"
beer_locations = pd.read_csv(csv_file)
beer_locations.head()

,name,brewery,brewery_id,id,address,city,state,country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States

In [15]:
engine_beer=create_engine(f'postgresql://postgres:postgres@localhost:5432/craft_beers')
# Base.metadata.create(engine_beer)
Base.metadata.create_all(engine_beer)

In [16]:
engine_beer.table_names()

['Beers', 'Beers_location']

In [22]:
beer_locations.to_sql(name='Beers_location', con=engine_beer, if_exists='append', index=False)

In [23]:
pd.read_sql_query('select * from "Beers_location"', con=engine_beer)

,name,brewery,brewery_id,id,address,city,state,country
0,Scottish Ale,Carlyle Brewing,347,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919,1540.0,455 North Main Street,Fort Bragg,California,United States
...,...,...,...,...,...,...,...,...
5943,McCafferty's Ale,North Country Brewery,920,4528.0,141 South Main Street,Slippery Rock,Pennsylvania,United States
5944,Boltwood Bock,Amherst Brewing Company,35,4561.0,24 North Pleasant Street,Amherst,Massachusetts,United States
5945,Bad Penny,Big Boss Brewing Company,113,4572.0,1249-A Wicker Drive,Raleigh,North Carolina,United States
5946,Saranac Golden Pilsner,F.X. Matt Brewing,512,4605.0,811 Edward Street,Utica,New York,United States
5947,Saranac Pumpkin Ale,F.X. Matt Brewing,512,4607.0,811 Edward Street,Utica,New York,United States