In [45]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd
import psycopg2

In [46]:
csv_file = "open-beer-database.csv"
ob_df = pd.read_csv(csv_file)
ob_df.head()

,Name,id,brewery_id,cat_id,style_id,Alcohol By Volume,International Bitterness Units,Standard Reference Method,Universal Product Code,filepath,...,last_mod,Style,Category,Brewer,Address,City,State,Country,Coordinates,Website
0,Scottish Ale,1495.0,347.0,1.0,15.0,5.8,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,Scotch Ale,British Ale,Carlyle Brewing,215 East State Street,Rockford,Illinois,United States,"42.2689, -89.0907",NaN
1,Het Kapittel Pater,1509.0,301.0,-1.0,-1.0,0.0,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Brouwerij Van Eecke,Douvieweg 2,Watou,West-Vlaanderen,Belgium,"50.8612, 2.6615",NaN
2,Export Premium,1516.0,785.0,-1.0,-1.0,5.4,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,Licher Privatbrauerei,In den Hardtberggrten,Lich,Hessen,Germany,"50.5208, 8.8166",NaN
3,Bee Sting Honey Ale,1527.0,604.0,3.0,26.0,5.9,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,American-Style Pale Ale,North American Ale,Great Divide Brewing,2201 Arapahoe Street,Denver,Colorado,United States,"39.7539, -104.989",http://www.greatdivide.com/
4,PranQster Belgian Ale,1540.0,919.0,-1.0,-1.0,7.6,0.0,0.0,0.0,NaN,...,2010-07-23T01:30:00+05:30,NaN,NaN,North Coast Brewing Company,455 North Main Street,Fort Bragg,California,United States,"39.4466, -123.806",http://www.northcoastbrewing.com/home.htm

In [47]:
# unique values with drop_duplicates
df = ob_df.drop_duplicates(subset=['Name', 'brewery_id', 'Style' ])

In [48]:
Beers_location_df = ob_df[['Name', 'Brewer', 'brewery_id', 'id','Address', 'City', 'State', 'Country']].copy()
Beers_location_df.head()

,Name,Brewer,brewery_id,id,Address,City,State,Country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States

In [49]:
Beers_location_df.rename(columns={'Name':'name', 'Brewer':'brewery', 'Address':'address', 'City':'city', 'State':'state','Country':'country'}, inplace=True)
Beers_location_df.head()

,name,brewery,brewery_id,id,address,city,state,country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States

In [50]:
Beers_location_df.replace({r'[^\x00-\x7F]+':''}, regex=True, inplace=True)

In [51]:
engine_beer=create_engine(f'postgresql://postgres:postgres@localhost:5432/craft_beers')
# Base.metadata.create(engine_beer)
Base.metadata.create_all(engine_beer)

In [52]:
engine_beer.table_names()

['Beers_location', 'Beers', 'beer_place']

In [53]:
Beers_location_df.to_sql(name='Beers_location', con=engine_beer, if_exists='append', index=False)

In [54]:
pd.read_sql_query('select * from "Beers_location"', con=engine_beer)

,name,brewery,brewery_id,id,address,city,state,country
0,Scottish Ale,Carlyle Brewing,347.0,1495.0,215 East State Street,Rockford,Illinois,United States
1,Het Kapittel Pater,Brouwerij Van Eecke,301.0,1509.0,Douvieweg 2,Watou,West-Vlaanderen,Belgium
2,Export Premium,Licher Privatbrauerei,785.0,1516.0,In den Hardtberggrten,Lich,Hessen,Germany
3,Bee Sting Honey Ale,Great Divide Brewing,604.0,1527.0,2201 Arapahoe Street,Denver,Colorado,United States
4,PranQster Belgian Ale,North Coast Brewing Company,919.0,1540.0,455 North Main Street,Fort Bragg,California,United States
...,...,...,...,...,...,...,...,...
5968,McCafferty's Ale,North Country Brewery,920.0,4528.0,141 South Main Street,Slippery Rock,Pennsylvania,United States
5969,Boltwood Bock,Amherst Brewing Company,35.0,4561.0,24 North Pleasant Street,Amherst,Massachusetts,United States
5970,Bad Penny,Big Boss Brewing Company,113.0,4572.0,1249-A Wicker Drive,Raleigh,North Carolina,United States
5971,Saranac Golden Pilsner,F.X. Matt Brewing,512.0,4605.0,811 Edward Street,Utica,New York,United States
5972,Saranac Pumpkin Ale,F.X. Matt Brewing,512.0,4607.0,811 Edward Street,Utica,New York,United States