In [8]:
import pandas as pd
from sqlalchemy import create_engine

In [9]:
csv_file = "C:/Users/jacki/beers.csv"
beers_df = pd.read_csv(csv_file)
beers_df.head()

,Unnamed: 0,abv,ibu,id,name,style,brewery_id,ounces
0,0,0.050,NaN,1436,Pub Beer,American Pale Lager,408,12.0
1,1,0.066,NaN,2265,Devil's Cup,American Pale Ale (APA),177,12.0
2,2,0.071,NaN,2264,Rise of the Phoenix,American IPA,177,12.0
3,3,0.090,NaN,2263,Sinister,American Double / Imperial IPA,177,12.0
4,4,0.075,NaN,2262,Sex and Candy,American IPA,177,12.0

In [10]:
# unique values with drop_duplicates
df = beers_df.drop_duplicates(subset=['name', 'style', 'brewery_id'])

In [12]:
renamed_df = beers_df[['name', 'style', 'brewery_id', 'id', 'abv', 'ibu', 'ounces']].copy()
renamed_df.head()

,name,style,brewery_id,id,abv,ibu,ounces
0,Pub Beer,American Pale Lager,408,1436,0.050,NaN,12.0
1,Devil's Cup,American Pale Ale (APA),177,2265,0.066,NaN,12.0
2,Rise of the Phoenix,American IPA,177,2264,0.071,NaN,12.0
3,Sinister,American Double / Imperial IPA,177,2263,0.090,NaN,12.0
4,Sex and Candy,American IPA,177,2262,0.075,NaN,12.0