In [1]:
from sqlalchemy import create_engine, Column, Integer, String
from sqlalchemy.ext.declarative import declarative_base
Base = declarative_base()
import pandas as pd
import psycopg2

In [2]:
csv_file = "Beers.csv"
beers_df = pd.read_csv(csv_file)
beers_df.head()

,Unnamed: 0,name,style,brewery_id,id,abv,ibu,ounces
0,0,Pub Beer,American Pale Lager,408,1436,0.050,NaN,12.0
1,1,Devil's Cup,American Pale Ale (APA),177,2265,0.066,NaN,12.0
2,2,Rise of the Phoenix,American IPA,177,2264,0.071,NaN,12.0
3,3,Sinister,American Double / Imperial IPA,177,2263,0.090,NaN,12.0
4,4,Sex and Candy,American IPA,177,2262,0.075,NaN,12.0

In [3]:
#have to run this before dups or you're only running remove dups on old dataset and not new db
renamed_df = beers_df[['name', 'style', 'brewery_id', 'id', 'abv', 'ibu', 'ounces']].copy()
renamed_df.head()

,name,style,brewery_id,id,abv,ibu,ounces
0,Pub Beer,American Pale Lager,408,1436,0.050,NaN,12.0
1,Devil's Cup,American Pale Ale (APA),177,2265,0.066,NaN,12.0
2,Rise of the Phoenix,American IPA,177,2264,0.071,NaN,12.0
3,Sinister,American Double / Imperial IPA,177,2263,0.090,NaN,12.0
4,Sex and Candy,American IPA,177,2262,0.075,NaN,12.0

In [4]:
# unique values with drop_duplicates
df = renamed_df.drop_duplicates(subset=['name', 'style', 'brewery_id'])

In [5]:
df.reset_index(drop = True, inplace = True)
print(df.head())

                  name                           style  brewery_id    id  \
0             Pub Beer             American Pale Lager         408  1436
1          Devil's Cup         American Pale Ale (APA)         177  2265
2  Rise of the Phoenix                    American IPA         177  2264
3             Sinister  American Double / Imperial IPA         177  2263
4        Sex and Candy                    American IPA         177  2262

     abv  ibu  ounces
0  0.050  NaN    12.0
1  0.066  NaN    12.0
2  0.071  NaN    12.0
3  0.090  NaN    12.0
4  0.075  NaN    12.0

In [6]:
df.to_csv('Beers.csv')

In [7]:
csv_file = "Beers.csv"
beers_df = pd.read_csv(csv_file)
beers_df.head()

,Unnamed: 0,name,style,brewery_id,id,abv,ibu,ounces
0,0,Pub Beer,American Pale Lager,408,1436,0.050,NaN,12.0
1,1,Devil's Cup,American Pale Ale (APA),177,2265,0.066,NaN,12.0
2,2,Rise of the Phoenix,American IPA,177,2264,0.071,NaN,12.0
3,3,Sinister,American Double / Imperial IPA,177,2263,0.090,NaN,12.0
4,4,Sex and Candy,American IPA,177,2262,0.075,NaN,12.0

In [8]:
engine_beer=create_engine(f'postgresql://postgres:postgres@localhost:5432/craft_beers')
# Base.metadata.create(engine_beer)
Base.metadata.create_all(engine_beer)

In [9]:
engine_beer.table_names()

['Beers', 'Beers_location']

In [10]:
df.to_sql(name='Beers', con=engine_beer, if_exists='append', index=False)

In [11]:
pd.read_sql_query('select * from "Beers"', con=engine_beer)

,name,style,brewery_id,id,abv,ibu,ounces
0,Pub Beer,American Pale Lager,408,1436,0.0,NaN,12
1,Devil's Cup,American Pale Ale (APA),177,2265,0.0,NaN,12
2,Rise of the Phoenix,American IPA,177,2264,0.0,NaN,12
3,Sinister,American Double / Imperial IPA,177,2263,0.0,NaN,12
4,Sex and Candy,American IPA,177,2262,0.0,NaN,12
...,...,...,...,...,...,...,...
2323,Belgorado,Belgian IPA,424,928,0.0,45.0,12
2324,Rail Yard Ale,American Amber / Red Ale,424,807,0.0,NaN,12
2325,B3K Black Lager,Schwarzbier,424,620,0.0,NaN,12
2326,Silverback Pale Ale,American Pale Ale (APA),424,145,0.0,40.0,12
2327,Rail Yard Ale (2009),American Amber / Red Ale,424,84,0.0,NaN,12